h1{
    text-align: center;
    color: gold;

} 
body{
    text-align: center; 
}
p{
    background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/26f072102532211.Y3JvcCw5NzUsNzYzLDE1Miww.jpg);
    
}
*{
    background-image: url(Holiday-Simmer-Lights-T.jpg);

}
